# K.ABYUDHAY
# 2211CS010272
# GROUP 4

# DATA ANALYTICS WITH PYTHON ON MIDMARKS DATASET

In [3]:
import pandas as pd
import matplotlib as plt

In [4]:

data = pd.read_excel("MIDMARKS.xlsx")
data

     S.NO SECTION  DV M-II  PP BEEE  FL FIMS
0     1.0   ALPHA  12    0  17    9  19   15
1     2.0   ALPHA  19   12  16   16  18    3
2     3.0   ALPHA  18   14  18   18  18   16
3     4.0   ALPHA  15    9  19   17  19   15
4     5.0   ALPHA  18   17  19   19  20   18
..    ...     ...  ..  ...  ..  ...  ..  ...
713   NaN    ZETA  19    8   8   19  17   18
714   NaN    ZETA  12    1   7   10  20    8
715   NaN    ZETA  17    6  14   14  17   18
716   NaN    ZETA  12    1   6    7  15   12
717   NaN    ZETA  19   14  17   16  20   19

[718 rows x 8 columns]

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 718 entries, 0 to 717
Data columns (total 8 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   S.NO     601 non-null    float64
 1   SECTION  691 non-null    object
 2   DV       716 non-null    object
 3   M-II     716 non-null    object
 4   PP       716 non-null    object
 5   BEEE     716 non-null    object
 6   FL       715 non-null    object
 7   FIMS     716 non-null    object
dtypes: float64(1), object(7)
memory usage: 45.0+ KB

In [13]:
data.rename(columns={'M-II':'M2'},inplace=True)
data

     S.NO SECTION    DV  M2  PP BEEE  FL FIMS
0       1   ALPHA  12.0   0  17    9  19   15
1       2   ALPHA  19.0  12  16   16  18    3
2       3   ALPHA  18.0  14  18   18  18   16
3       4   ALPHA  15.0   9  19   17  19   15
4       5   ALPHA  18.0  17  19   19  20   18
..    ...     ...   ...  ..  ..  ...  ..  ...
713   714    ZETA  19.0   8   8   19  17   18
714   715    ZETA  12.0   1   7   10  20    8
715   716    ZETA  17.0   6  14   14  17   18
716   717    ZETA  12.0   1   6    7  15   12
717   718    ZETA  19.0  14  17   16  20   19

[718 rows x 8 columns]

In [7]:
data["SECTION"] = data["SECTION"].fillna("SIGMA")
data["SECTION"] = data["SECTION"].replace("","SIGMA")
data

     S.NO SECTION  DV M-II  PP BEEE  FL FIMS
0     1.0   ALPHA  12    0  17    9  19   15
1     2.0   ALPHA  19   12  16   16  18    3
2     3.0   ALPHA  18   14  18   18  18   16
3     4.0   ALPHA  15    9  19   17  19   15
4     5.0   ALPHA  18   17  19   19  20   18
..    ...     ...  ..  ...  ..  ...  ..  ...
713   NaN    ZETA  19    8   8   19  17   18
714   NaN    ZETA  12    1   7   10  20    8
715   NaN    ZETA  17    6  14   14  17   18
716   NaN    ZETA  12    1   6    7  15   12
717   NaN    ZETA  19   14  17   16  20   19

[718 rows x 8 columns]

In [8]:
data['S.NO'] = range(1,len(data)+1)
data

     S.NO SECTION  DV M-II  PP BEEE  FL FIMS
0       1   ALPHA  12    0  17    9  19   15
1       2   ALPHA  19   12  16   16  18    3
2       3   ALPHA  18   14  18   18  18   16
3       4   ALPHA  15    9  19   17  19   15
4       5   ALPHA  18   17  19   19  20   18
..    ...     ...  ..  ...  ..  ...  ..  ...
713   714    ZETA  19    8   8   19  17   18
714   715    ZETA  12    1   7   10  20    8
715   716    ZETA  17    6  14   14  17   18
716   717    ZETA  12    1   6    7  15   12
717   718    ZETA  19   14  17   16  20   19

[718 rows x 8 columns]

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 718 entries, 0 to 717
Data columns (total 8 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   S.NO     718 non-null    int64
 1   SECTION  718 non-null    object
 2   DV       716 non-null    object
 3   M-II     716 non-null    object
 4   PP       716 non-null    object
 5   BEEE     716 non-null    object
 6   FL       715 non-null    object
 7   FIMS     716 non-null    object
dtypes: int64(1), object(7)
memory usage: 45.0+ KB

In [10]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 718 entries, 0 to 717
Data columns (total 8 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   S.NO     718 non-null    int64
 1   SECTION  718 non-null    object
 2   DV       716 non-null    object
 3   M-II     716 non-null    object
 4   PP       716 non-null    object
 5   BEEE     716 non-null    object
 6   FL       715 non-null    object
 7   FIMS     716 non-null    object
dtypes: int64(1), object(7)
memory usage: 45.0+ KB

In [11]:
data['S.NO'] = range(1,len(data)+1)
data

     S.NO SECTION  DV M-II  PP BEEE  FL FIMS
0       1   ALPHA  12    0  17    9  19   15
1       2   ALPHA  19   12  16   16  18    3
2       3   ALPHA  18   14  18   18  18   16
3       4   ALPHA  15    9  19   17  19   15
4       5   ALPHA  18   17  19   19  20   18
..    ...     ...  ..  ...  ..  ...  ..  ...
713   714    ZETA  19    8   8   19  17   18
714   715    ZETA  12    1   7   10  20    8
715   716    ZETA  17    6  14   14  17   18
716   717    ZETA  12    1   6    7  15   12
717   718    ZETA  19   14  17   16  20   19

[718 rows x 8 columns]

In [12]:
print(data.head())
subjects = ['DV', 'M2', 'PP', 'BEEE', 'FL', 'FIMS']

for col in subjects:
    data[col] = pd.to_numeric(data[col], errors='coerce') 
data['Total Marks'] = data[subjects].sum(axis=1)
data_sorted = data.sort_values(by='Total Marks', ascending=True)
print("Sorted Data:")
print(data_sorted.head())
output_path = 'Sorted_MIDMARKS.xlsx'  
data_sorted.to_excel(output_path, index=False)

print(f"Data file processed successfully. Sorted file saved at: {output_path}")
data

   S.NO SECTION  DV M-II  PP BEEE  FL FIMS
0     1   ALPHA  12    0  17    9  19   15
1     2   ALPHA  19   12  16   16  18    3
2     3   ALPHA  18   14  18   18  18   16
3     4   ALPHA  15    9  19   17  19   15
4     5   ALPHA  18   17  19   19  20   18

KeyError: 'M2'

In [ ]:
data.shape

# data is sorted

In [ ]:
import pandas as pd
data = pd.ExcelFile('MIDMARKS.xlsx')
sheet_name = 'SEM2 MID 1 - ALPHA'
df = data.parse(sheet_name)
df['DV'] = pd.to_numeric(df['DV'], errors='coerce')  
max_dv_marks = df['DV'].max()

toppers_dv = df[df['DV'] == max_dv_marks]

print(f"Toppers from DV (Highest Marks: {max_dv_marks}):")
print(toppers_dv)
data

# Toppers of Dv

In [ ]:
import pandas as pd
data = pd.ExcelFile('MIDMARKS.xlsx')
sheet_name = 'SEM2 MID 1 - ALPHA'
df = data.parse(sheet_name)
df['DV'] = pd.to_numeric(df['DV'], errors='coerce') 

students_less_than_10 = df[df['DV'] < 10]
section_wise_counts = students_less_than_10.groupby('SECTION').size()

print("Number of students scoring less than 10 in DV, section-wise:")
print(section_wise_counts)
data

# dv toppers section wise

# sectionwise analysis

# info

In [ ]:
import pandas as pd  

# Load the Excel file  
excel_file = pd.ExcelFile('MIDMARKS.xlsx')  # Replace 'your_file.xlsx' with the actual file name  

# Read the first sheet into a DataFrame  
data = excel_file.parse(excel_file.sheet_names[0])  # Reads the first sheet  

# Now you can use .head()  
print(data.head())

In [ ]:
data.head(10)

In [ ]:
data.tail()

In [ ]:
data.tail(4)

In [ ]:
data.shape

In [ ]:
data=pd.read_excel("MIDMARKS.xlsx",skiprows = 1)
data

In [ ]:

columns_to_check = ["DV", "M-II", "PP", "BEEE", "FL", "FIMS"]  
for col in columns_to_check:  
    if col not in data.columns:  
        print(f"Warning: Column '{col}' not found in the Excel file.")  
empty_rows = data[columns_to_check].isnull().all(axis=1)  
data_cleaned = data[~empty_rows]  
data_cleaned
print(data)

# CLEANING NULLS

In [ ]:
import pandas as pd
file_path = 'MIDMARKS.xlsx' 
data = pd.ExcelFile('MIDMARKS.xlsx')
subjects = ['DV', 'M-II', 'PP', 'BEEE', 'FL', 'FIMS']
for col in subjects:
    df[col] = pd.to_numeric(df[col]) 
failuressubjectwise = {subject: (df[subject] < 10).sum() for subject in subjects}
failuresdf = pd.DataFrame(list(failures_subject_wise.items()), columns=['Subject', 'Failure Count'])
print("Subject-wise failure counts:")
print(failures_df)
data

 # BACKLOGS

import pandas as pd

data= pd.read_excel("MIDMARKS.xlsx")

# Define the subject columns
subjects = ["DV", "M-II", "PP", "BEEE", "FL", "FIMS"]

# Replace non-numeric or invalid values with 0
for subject in subjects:
    data[subject] = pd.to_numeric(data[subject], errors='coerce').fillna(0)

# Add a "Backlog" column
data["Backlog"] = data[subjects].apply(lambda row: "Yes" if any(row < 10) else "No", axis=1)
data

In [ ]:
D=(data['DV']<10)&(data['SECTION']=='DELTA')
D.value_counts()

# CHECKING BACK LOG

In [ ]:
import pandas as pd
data = pd.read_excel("MIDMARKS.xlsx")
# Define the subject columns
subjects = ["DV", "M-II", "PP", "BEEE", "FL", "FIMS"]

for subject in subjects:
   data[subject] = pd.to_numeric(data[subject], errors='coerce').fillna(0)
  # Add a "Backlog Count" column
data["Backlog Count"] = data[subjects].apply(lambda row: (row < 10).sum(), axis=1)
data

# BACKLOG COUNT

In [ ]:
import pandas as pd
data = pd.read_excel("MIDMARKS.XLSX")
subjects = ["DV", "M-II", "PP", "BEEE", "FL", "FIMS"]
for subject in subjects:
    data[subject] = pd.to_numeric(data[subject], errors='coerce').fillna(0)
    data[f"{subject}_Backlog"] = (data[subject] < 10).astype(int)
data["Count"] = data[[f"{subject}_Backlog" for subject in subjects]].sum(axis=1)
data

In [ ]:
alpha_students_with_backlog = data[data["SECTION"] == "ALPHA"]["Count"].gt(0).sum()
print(alpha_students_with_backlog)

In [ ]:
total_alpha_count = data[data["SECTION"] == "ALPHA"].shape[0]
print(total_alpha_count)

In [ ]:
beta_students_with_backlog = data[data["SECTION"] == "BETA"]["Count"].gt(0).sum()
print(beta_students_with_backlog)

In [ ]:
D=(data['DV']<10)&(data['SECTION']=='DELTA')
D.value_counts()

In [ ]:
BACKLOG = []
for i in range(len(data)):
    if (data.loc[i, 'DV'] < 10 or data.loc[i, 'PP'] < 10 or data.loc[i, 'BEEE'] < 10):
        BACKLOG.append(i)
data['BACKLOG'] = data.index.isin(BACKLOG)
backlog_data = data[data['BACKLOG']]
backlog_data.head(10)

In [ ]:
import matplotlib.pyplot as plt
backlog_counts = data['BACKLOG'].value_counts()
labels = ['With Backlog', 'Without Backlog']
plt.pie(
    backlog_counts,
    labels=labels,
    autopct='%1.1f%%',
    startangle=90,
    colors=['red', 'green']
)
plt.title('Students With and Without Backlogs')
plt.axis('equal')  
plt.show()

In [ ]:
D=(data['DV']<10)&(data['SECTION']=='DELTA')
D.value_counts()

In [ ]:
data["Backlog Count"] = data[['DV_Backlog', 'M-II_Backlog', 'PP_Backlog', 'BEEE_Backlog', 'FL_Backlog', 'FIMS_Backlog']].sum(axis=1)
students_with_one_backlog = data[data["Backlog Count"] == 1]
count_with_one_backlog = len(students_with_one_backlog)
print(f"Number of students with exactly 1 backlog: {count_with_one_backlog}")

In [ ]:
data["Backlog Count"] = data[['DV_Backlog', 'M-II_Backlog', 'PP_Backlog', 'BEEE_Backlog', 'FL_Backlog', 'FIMS_Backlog']].sum(axis=1)
students_with_one_backlog = data[data["Backlog Count"] == 6]
count_with_one_backlog = len(students_with_one_backlog)
print(f"Number of students with exactly 1 backlog: {count_with_one_backlog}")

In [ ]:
data["Backlog Count"] = data[['DV_Backlog', 'M-II_Backlog', 'PP_Backlog', 'BEEE_Backlog', 'FL_Backlog', 'FIMS_Backlog']].sum(axis=1)
students_with_six_backlogs = data[data["Backlog Count"] == 6]
section_with_six_backlogs = students_with_six_backlogs['SECTION'].value_counts()
highest_section = section_with_six_backlogs.idxmax()
highest_count = section_with_six_backlogs.max()

print(f"Section '{highest_section}' has the highest number of students with 6 backlogs: {highest_count}")

In [ ]:
BACKLOG = []
for i in range(len(data)):
    backlog_count = 0
    if data.loc[i, 'DV'] < 10:
        backlog_count += 1
    if data.loc[i, 'PP'] < 10:
        backlog_count += 1
    if data.loc[i, 'BEEE'] < 10:
        backlog_count += 1
    if data.loc[i, 'FL'] < 10:
        backlog_count += 1
    if data.loc[i, 'M-II'] < 10:
        backlog_count += 1
    if data.loc[i, 'FIMS'] < 10:
        backlog_count += 1
    
    BACKLOG.append(backlog_count)

data['BACKLOG_COUNT'] = BACKLOG

subjects = ['DV', 'PP', 'BEEE', 'FL', 'M-II', 'FIMS']
subject_backlogs = {subject: (data[subject] < 10).sum() for subject in subjects}

max_backlogs = max(subject_backlogs.values())
subjects_with_max_backlogs = [subject for subject, count in subject_backlogs.items() if count == max_backlogs]

print(f"Subjects with the most backlogs: {subjects_with_max_backlogs} with {max_backlogs} backlogs")

In [ ]:
BACKLOG = []
for i in range(len(data)):
    backlog_count = 0
    if data.loc[i, 'DV'] < 10:
        backlog_count += 1
    if data.loc[i, 'PP'] < 10:
        backlog_count += 1
    if data.loc[i, 'BEEE'] < 10:
        backlog_count += 1
    if data.loc[i, 'FL'] < 10:
        backlog_count += 1
    if data.loc[i, 'M-II'] < 10:
        backlog_count += 1
    if data.loc[i, 'FIMS'] < 10:
        backlog_count += 1
    
    BACKLOG.append(backlog_count)

data['BACKLOG_COUNT'] = BACKLOG

subjects = ['DV', 'PP', 'BEEE', 'FL', 'M-II', 'FIMS']
subject_backlogs = {subject: (data[subject] < 10).sum() for subject in subjects}

min_backlogs = min(subject_backlogs.values())
subjects_with_min_backlogs = [subject for subject, count in subject_backlogs.items() if count == min_backlogs]

print(f"Subjects with the most backlogs: {subjects_with_min_backlogs} with {min_backlogs} backlogs")

In [ ]:
data['PP'] = pd.to_numeric(data['PP'], errors='coerce')
def assign_grade(pp):
    if pp >= 18:
        return 'Excellent'
    elif pp >= 15:
        return 'Very Good'
    elif pp >= 10:
        return 'Good'
    else:
        return 'poor'
data['PP Grade'] = data['PP'].apply(assign_grade)
data

In [ ]:

grade_counts = data['PP Grade'].value_counts()

# Plot the pie chart
plt.figure(figsize=(8, 8))
plt.pie(
    grade_counts, 
    labels=grade_counts.index, 
    autopct='%1.1f%%', 
    startangle=140, 
    colors=plt.cm.tab10.colors
)
plt.title("Distribution of PP Grades", fontsize=16)
plt.show()

In [ ]:

data['DV'] = pd.to_numeric(data['DV'], errors='coerce')

def assign_grade(dv):
    if dv >= 18:
        return 'Excellent'
    elif dv >= 15:
        return 'Very Good'
    elif dv >= 10:
        return 'Good'
    else:
        return 'Needs Improvement'

data['DV Grade'] = data['DV'].apply(assign_grade)

data

In [ ]:

grade_counts = data['DV Grade'].value_counts()t
plt.figure(figsize=(8, 8))
plt.pie(
    grade_counts, 
    labels=grade_counts.index, 
    autopct='%1.1f%%', 
    startangle=140, 
    colors=plt.cm.tab10.colors
)
plt.title("Distribution of DV Grades", fontsize=16)
plt.show()

In [ ]:

data['DV Grade'] = data['DV'].apply(assign_grade)
grade_counts = data["DV Grade"].value_counts()

# Plot the pie chart
plt.pie(grade_counts, labels=grade_counts.index, autopct='%1.1f%%', colors=plt.cm.Paired.colors)
plt.title("Distribution of Programming Skills Grades")
plt.show()

print(data)

In [ ]:
plt.figure(figsize=(8, 8))
plt.pie(
    grade_counts,
    labels=grade_counts.index,
    autopct='%1.1f%%',
    startangle=140,
    colors=plt.cm.Paired.colors
)
plt.title("Distribution of Programming Skills Grades")
plt.show()
print(data)

In [ ]:
very_good_count = data[data['DV Grade'] == 'Very Good'].shape[0]

print(f"Number of students who got 'Very Good': {very_good_count}")

In [ ]:
import matplotlib.pyplot as plt
skill_counts = df['DV'].value_counts()
skill_counts.plot(kind='bar', color=['blue', 'green', 'red', 'yellow'])
plt.title('Skill Distribution')
plt.xlabel('Skills')
plt.ylabel('Count')
plt.xticks(rotation=45)
plt.grid(axis='y')
plt.show()
print(skill_counts)

In [ ]:

very_good_count = data[data['DV Grade'] == 'Very Good'].shape[0]

print(f"Number of students who got 'Very Good': {very_good_count}")

In [ ]:
very_good_count = grade_counts.get('Very Good', 0)
print(f"Number of students who got 'Very Good': {very_good_count}")
plt.figure(figsize=(8, 8))
plt.pie(
    grade_counts, 
    labels=grade_counts.index, 
    autopct='%1.1f%%', 
    startangle=140, 
    colors=plt.cm.Paired.colors
)
plt.title("Distribution of DV Grades", fontsize=16)
plt.show()

In [ ]:
very_good_count1 = data[data['PP Grade'] == 'Very Good'].shape[0]

print(f"Number of students who got 'Very Good': {very_good_count}")

In [ ]:
very_good_count1 = grade_counts.get('Very Good', 0)
print(f"Number of students who got 'Very Good': {very_good_count1}")
plt.pie(
    grade_counts, 
    labels=grade_counts.index, 
    autopct='%1.1f%%', 
    startangle=140, 
    colors=plt.cm.Paired.colors
)
plt.title("Distribution of PP Grades", fontsize=16)
plt.show()

In [ ]:
data['BEEE'] = pd.to_numeric(data['BEEE'], errors='coerce')
def assign_grade(pp):
    if pp >= 18:
        return 'Excellent'
    elif pp >= 15:
        return 'Very Good'
    elif pp >= 10:
        return 'Good'
    else:
        return 'poor'
data['BEEE Grade'] = data['BEEE'].apply(assign_grade)
data

In [ ]:
very_good_count1 = data[data['BEEE Grade'] == 'Very Good'].shape[0]

print(f"Number of students who got 'Very Good': {very_good_count}")

In [ ]:
very_good_count1 = grade_counts.get('Very Good', 0)
print(f"Number of students who got 'Very Good': {very_good_count1}")
plt.pie(
    grade_counts, 
    labels=grade_counts.index, 
    autopct='%1.1f%%', 
    startangle=140, 
    colors=plt.cm.Paired.colors
)
plt.title("Distribution of BEEE Grades", fontsize=16)
plt.show()

In [ ]:
import matplotlib.pyplot as plt
backlog_counts = data['BACKLOG'].value_counts()
labels = ['With Backlog', 'Without Backlog']
plt.pie(
    backlog_counts,
    labels=labels,
    autopct='%1.1f%%',
    startangle=90,
    colors=['red', 'green']
)
plt.title('Students With and Without Backlogs')
plt.axis('equal')  
plt.show()

# checking subjects

In [ ]:
 db=pd.read_excel("MIDMARKS.xlsx",usecols=['DV','BEEE'])
 db

In [ ]:
 dp=pd.read_excel("MIDMARKS.xlsx",usecols=['DV','PP'])
 dp

In [ ]:
data.isnull().sum()

In [ ]:
 data.fillna(0)

In [ ]:
data.fillna(0,inplace=True)
data

# HISTOGRAM

In [ ]:
 sheet_name = 'your_sheet_name'
 data['DV'] = pd.to_numeric(data['DV'], errors='coerce')
 plt.figure(figsize=(6, 4))
 plt.hist(data['DV'].dropna(), bins=10, color='blue', edgecolor='black', alpha=0.7)
 plt.title('Histogram of DV')
 plt.xlabel('Marks')
 plt.ylabel('Frequency')
 plt.grid(axis='y', linestyle='--', alpha=0.7)
 plt.show()

In [ ]:
 data['M-II'] = pd.to_numeric(data['M-II'], errors='coerce')
 plt.hist(data['M-II'].dropna(), bins=10, color='red', edgecolor='black', alpha=0.7)
 plt.title('Histogram of M-II')
 plt.xlabel('Marks')
 plt.ylabel('Frequency')
 plt.grid(axis='y', linestyle='--', alpha=0.7)
 plt.show()

In [ ]:
 data['PP'] = pd.to_numeric(data['PP'], errors='coerce')
 plt.hist(data['PP'].dropna(), bins=10, color='LAVENDER', edgecolor='black',alpha=0.7)
 plt.title('Histogram of PP')
 plt.xlabel('Marks')
 plt.ylabel('Frequency')
 plt.grid(axis='y', linestyle='--', alpha=0.7)
 plt.show()

In [ ]:
 data['BEEE'] = pd.to_numeric(data['BEEE'], errors='coerce')
 plt.hist(data['BEEE'].dropna(), bins=10, color='BLACK', edgecolor='black',alpha=0.7)
 plt.title('Histogram of BEEE')
 plt.xlabel('Marks')
 plt.ylabel('Frequency')
 plt.grid(axis='y', linestyle='--', alpha=0.7)
 plt.show()

In [ ]:
 data['FL'] = pd.to_numeric(data['FL'], errors='coerce')
 plt.hist(data['FL'].dropna(), bins=10, color='BROWN', edgecolor='BROWN',alpha=0.7)
 plt.title('Histogram of FL')
 plt.xlabel('Marks')
 plt.ylabel('Frequency')
 plt.grid(axis='y', linestyle='--', alpha=0.7)
 plt.show()

In [ ]:
 data['FIMS'] = pd.to_numeric(data['FIMS'], errors='coerce')
 plt.hist(data['FIMS'].dropna(), bins=10, color='BROWN', edgecolor='BROWN',alpha=0.7)
 plt.title('Histogram of FIMS')
 plt.xlabel('Marks')
 plt.ylabel('Frequency')
 plt.grid(axis='y', linestyle='--', alpha=0.7)
 plt.show()

# PIE CHARTS

In [ ]:
subject_column = 'DV' 

df_cleaned = df.copy()
df_cleaned[subject_column] = pd.to_numeric(df_cleaned[subject_column], errors='coerce')

df_cleaned = df_cleaned.dropna(subset=[subject_column])

labels = df_cleaned['S.NO'] 
values = df_cleaned[subject_column]

plt.figure(figsize=(6, 6))
plt.pie(values, labels=labels, autopct='%1.1f%%', startangle=90)
plt.title(f"Pie Chart for {subject_column}")
plt.show()

In [ ]:

subject_column = 'PP'  
df_cleaned = df.copy()
df_cleaned[subject_column] = pd.to_numeric(df_cleaned[subject_column], errors='coerce')

df_cleaned = df_cleaned.dropna(subset=[subject_column])

labels = df_cleaned['S.NO']  
values = df_cleaned[subject_column]

plt.figure(figsize=(6, 6))
plt.pie(values, labels=labels, autopct='%1.1f%%', startangle=90)
plt.title(f"Pie Chart for {subject_column}")
plt.show()

In [ ]:

print(data.columns)

In [ ]:
print(data.columns)

In [ ]:
print(data['FIMS'].unique())

In [ ]:
data['FIMS'] = pd.to_numeric(data['FIMS'], errors='coerce')
data = data.dropna(subset=['FIMS'])

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
df['DV'] = pd.to_numeric(df['DV'], errors='coerce')
dv_ranges = pd.cut(
    df['DV'].dropna(),
    bins=[0, 20, 40, 60, 80, 100],
    labels=['0-20', '21-40', '41-60', '61-80', '81-100'],
    include_lowest=True
)
dv_counts = dv_ranges.value_counts()
plt.figure(figsize=(8, 8))
plt.pie(
    dv_counts,
    labels=dv_counts.index,
    autopct='%1.1f%%',
    startangle=140,
    colors=plt.cm.tab10.colors[:len(dv_counts)]
)
plt.title('Distribution of DV Marks')
plt.show()

# BAR GRAPHS

In [ ]:
df['PP'] = pd.to_numeric(df['PP'], errors='coerce')

pp_ranges = pd.cut(
    df['PP'].dropna(),  
    bins=[0, 5, 10, 15, 20], 
    labels=['0-5', '5-10', '10-15', '15-20'],
    include_lowest=True
)

pp_counts = pp_ranges.value_counts()

plt.figure(figsize=(10, 6))
pp_counts.sort_index().plot(kind='bar', color='skyblue', edgecolor='black')
plt.title('Distribution of PP Marks', fontsize=16)
plt.xlabel('Marks Range', fontsize=14)
plt.ylabel('Number of Students', fontsize=14)
plt.xticks(rotation=45, fontsize=12)
plt.grid(axis='y', linestyle='--', alpha=0.7)
plt.tight_layout()
plt.show()

In [ ]:
df['DV'] = pd.to_numeric(df['DV'], errors='coerce')

pp_ranges = pd.cut(
    df['DV'].dropna(),
    bins=[0, 5, 10, 15, 20],
    labels=['0-5', '5-10', '10-15', '15-20'],
)
plt.figure(figsize=(10, 6))
pp_counts.sort_index().plot(kind='bar', color='GREEN', edgecolor='black')
plt.title('Distribution of DV Marks', fontsize=16)
plt.xlabel('Marks Range', fontsize=14)
plt.ylabel('Number of Students', fontsize=14)
plt.xticks(rotation=45, fontsize=12)
plt.grid(axis='y', linestyle='--', alpha=0.7)
plt.tight_layout()
plt.show()

In [ ]:
df['BEEE'] = pd.to_numeric(df['BEEE'], errors='coerce')

pp_ranges = pd.cut(
    df['BEEE'].dropna(), 
    bins=[0, 5, 10, 15, 20], 
    labels=['0-5', '5-10', '10-15', '15-20'], 
    include_lowest=True
)

pp_counts = pp_ranges.value_counts()

plt.figure(figsize=(10, 6))
pp_counts.sort_index().plot(kind='bar', color='RED', edgecolor='black')
plt.title('Distribution of BEEE Marks', fontsize=16)
plt.xlabel('Marks Range', fontsize=14)
plt.ylabel('Number of Students', fontsize=14)
plt.xticks(rotation=45, fontsize=12)
plt.grid(axis='y', linestyle='--', alpha=0.7)
plt.tight_layout()
plt.show()

# BAR CHARTS

In [ ]:
data['DV'] = pd.to_numeric(data['DV'], errors='coerce')
plt.figure(figsize=(10, 6))
plt.bar(data.index, data['DV'], color='green')
plt.title("Bar Chart of Total Scores", fontsize=16)
plt.xlabel("Index", fontsize=14)
plt.ylabel("Total Score (DV)", fontsize=14)
plt.xticks(rotation=45, fontsize=12)
plt.tight_layout()
plt.show()

In [ ]:
data['M-II'] = pd.to_numeric(data['M-II'], errors='coerce')

plt.figure(figsize=(10, 6))
plt.bar(data.index, data['M-II'], color='SKYBLUE')
plt.title("Bar Chart of Total Scores", fontsize=16)
plt.xlabel("Index", fontsize=14)
plt.ylabel("Total Score (M-II)", fontsize=14)
plt.xticks(rotation=45, fontsize=12)
plt.tight_layout()
plt.show()

In [ ]:
data['PP'] = pd.to_numeric(data['PP'], errors='coerce')

plt.figure(figsize=(10, 6))
plt.bar(data.index, data['PP'], color='RED')
plt.title("Bar Chart of Total Scores", fontsize=16)
plt.xlabel("Index", fontsize=14)
plt.ylabel("Total Score (PP)", fontsize=14)
plt.xticks(rotation=45, fontsize=12)
plt.tight_layout()
plt.show()

In [ ]:
data['PP'] = pd.to_numeric(data['PP'], errors='coerce')
data_cleaned = data.dropna(subset=['PP'])
plt.figure(figsize=(8, 8))
plt.pie(
    data_cleaned['PP'], 
    labels=data_cleaned.index,  
    autopct='%1.1f%%',        
    startangle=140,           
    colors=plt.cm.tab20.colors 
)
plt.title("Pie Chart of Total Scores (PP)", fontsize=16)
plt.show()

In [ ]:
data['BEEE'] = pd.to_numeric(data['BEEE'], errors='coerce')

plt.figure(figsize=(10, 6))
plt.bar(data.index, data['BEEE'], color='BLACK')
plt.title("Bar Chart of Total Scores", fontsize=16)
plt.xlabel("Index", fontsize=14)
plt.ylabel("Total Score (BEEE)", fontsize=14)
plt.xticks(rotation=45, fontsize=12)
plt.tight_layout()
plt.show()

In [ ]:
data['FIMS'] = pd.to_numeric(data['FIMS'], errors='coerce')

plt.figure(figsize=(10, 6))
plt.bar(data.index, data['FIMS'], color='ORANGE')
plt.title("Bar Chart of Total Scores", fontsize=16)
plt.xlabel("Index", fontsize=14)
plt.ylabel("Total Score (FIMS)", fontsize=14)
plt.xticks(rotation=45, fontsize=12)
plt.tight_layout()
plt.show()

In [ ]:
data['FL'] = pd.to_numeric(data['FL'], errors='coerce')

plt.figure(figsize=(10, 6))
plt.bar(data.index, data['FL'], color='BROWN')
plt.title("Bar Chart of Total Scores", fontsize=16)
plt.xlabel("Index", fontsize=14)
plt.ylabel("Total Score (FIMS)", fontsize=14)
plt.xticks(rotation=45, fontsize=12)
plt.tight_layout()
plt.show()

# BAR SLOTS

In [ ]:
import matplotlib.pyplot as plt

# Assign numeric labels to categories
x_positions = range(len(section_dv))  # Generate numeric labels for sections

# Plot the bar chart
plt.figure(figsize=(10, 6))
plt.bar(x_positions, section_dv.values, color='red')  # Use numeric labels
plt.xticks(x_positions, section_dv.index, rotation=45, fontsize=12)  # Map numeric labels to section names
plt.xlabel('Section', fontsize=14)
plt.ylabel('Average DV', fontsize=14)
plt.title('Average DV by Section', fontsize=16)
plt.tight_layout()
plt.show()

In [ ]:
import matplotlib.pyplot as plt

# Assign numeric labels to categories
x_positions = range(len(section_dv))  # Generate numeric labels for sections

# Plot the bar chart
plt.figure(figsize=(10, 6))
plt.bar(x_positions, section_dv.values, color='red')  # Use numeric labels
plt.xticks(x_positions, section_dv.index, rotation=45, fontsize=12)  # Map numeric labels to section names
plt.xlabel('Section', fontsize=14)
plt.ylabel('Average DV', fontsize=14)
plt.title('Average DV by Section', fontsize=16)
plt.tight_layout()
plt.show()

In [ ]:

data['BEEE'] = pd.to_numeric(data['BEEE'], errors='coerce')

non_numeric_beee = data[data['BEEE'].isna()]

data_cleaned = data.dropna(subset=['BEEE'])


import matplotlib.pyplot as plt

section_beee = data_cleaned.groupby('SECTION')['BEEE'].mean()

plt.figure(figsize=(10, 6))
plt.bar(section_beee.index, section_beee.values, color='yellow')
plt.xlabel('Section')
plt.ylabel('Average BEEE')
plt.title('Average BEEE by Section')
plt.xticks(rotation=45)
plt.tight_layout()
plt.show()

In [ ]:
data['FIMS'] = pd.to_numeric(data['FIMS'], errors='coerce')

non_numeric_beee = data[data['FIMS'].isna()]

data_cleaned = data.dropna(subset=['FIMS'])


import matplotlib.pyplot as plt
section_fims = data_cleaned.groupby('SECTION')['FIMS'].mean()

plt.figure(figsize=(10, 6))
plt.bar(section_beee.index, section_beee.values, color='GREEN')
plt.xlabel('Section')
plt.ylabel('Average FIMS')
plt.title('Average FIMS by Section')
plt.xticks(rotation=45)
plt.tight_layout()
plt.show()

In [ ]:
data['FL'] = pd.to_numeric(data['FL'], errors='coerce')

non_numeric_beee = data[data['FL'].isna()]

data_cleaned = data.dropna(subset=['FL'])


import matplotlib.pyplot as plt

section_FL = data_cleaned.groupby('SECTION')['FL'].mean()

plt.figure(figsize=(10, 6))
plt.bar(section_beee.index, section_beee.values, color='GRAY')
plt.xlabel('Section')
plt.ylabel('Average FL')
plt.title('Average FL by Section')
plt.xticks(rotation=45)
plt.tight_layout()
plt.show()

In [ ]:
data['M-II'] = pd.to_numeric(data['M-II'], errors='coerce')
non_numeric_beee = data[data['M-II'].isna()]
data_cleaned = data.dropna(subset=['M-II'])
import matplotlib.pyplot as plt
section_FL = data_cleaned.groupby('SECTION')['M-II'].mean()
plt.figure(figsize=(10, 6))
plt.bar(section_beee.index, section_beee.values, color='GRAY')
plt.xlabel('Section')
plt.ylabel('Average M-II')
plt.title('Average M-II by Section')
plt.xticks(rotation=45)
plt.tight_layout()
plt.show()

In [ ]:
import matplotlib.pyplot as plt
subjects = ['DV', 'PP', 'BEEE', 'FL', 'M-II', 'FIMS']
for subject in subjects:
    df[subject] = pd.to_numeric(df[subject], errors='coerce')

# Plot histograms for each subject
plt.figure(figsize=(15, 10))
for i, subject in enumerate(subjects, 1):
    plt.subplot(2, 3, i)
    plt.hist(df[subject], bins=10, color='skyblue', edgecolor='black')
    plt.title(f'{subject} Score Distribution')
    plt.xlabel('Scores')
    plt.ylabel('Frequency')
    plt.axvline(x=10, color='red', linestyle='--', label='Backlog Threshold')
    plt.legend()

plt.tight_layout()
plt.show()

In [ ]:
# Calculate the total score by summing all numeric subject columns
data['Total'] = data.select_dtypes(include='number').sum(axis=1)

# Display the DataFrame with the new Total column
print(data)

# Save the updated file with the Total column
output_path = 'MIDMARKS_with_total_all_subjects.xlsx'
data.to_excel(output_path, index=False)
print(f"Updated file saved to {output_path}")
data

In [ ]:
total_20_count = data[data['Total'] == 20].shape[0]

print(f"Number of students with a total score of 20: {total_20_count}")
data

In [ ]:
students_with_20 = data[(data == 20).any(axis=1)]
print(students_with_20)

In [ ]:

max_scores = {}

for subject in subject_columns:
    if pd.api.types.is_numeric_dtype(data[subject]):
        max_score = data[subject].max()
        count = (data[subject] == max_score).sum()
        max_scores[subject] = {'Max Score': max_score, 'Count': count}

print(max_scores)
data

In [ ]:
# Filter students who scored 20 in at least one subject
students_with_20 = data[(data == 20).any(axis=1)]

# Further filter for students with at least one backlog (score of 0)
students_with_20_and_backlogs = students_with_20[(students_with_20 == 0).any(axis=1)]

# Display the results
print(students_with_20_and_backlogs)

In [ ]:
subject_columns = data.columns[2:] 
data[subject_columns] = data[subject_columns].apply(pd.to_numeric, errors='coerce')
students_with_20 = data[(data[subject_columns] == 20).any(axis=1)]
students_with_20_and_backlogs = students_with_20[(students_with_20[subject_columns] < 10).any(axis=1)]
print(students_with_20_and_backlogs)

In [ ]:
data.describe()

In [ ]:
p = pd.read_excel("MIDMARKS.xlsx")
p

In [ ]:
p['DV'] = pd.to_numeric(p['DV'], errors='coerce')

In [ ]:
D = (p['DV'] < 10) & (p['SECTION'] == 'DELTA')
D.value_counts()

In [ ]:
D = (p['DV'] < 10) & (p['SECTION'] == 'ALPHA')
D.value_counts()

In [ ]:
D = (p['DV'] < 10) & (p['SECTION'] == 'BETA')
D.value_counts()

In [ ]:
D = (p['DV'] < 10) & (p['SECTION'] == 'GAMA')
D.value_counts()

In [ ]:
D = (p['DV'] < 10) & (p['SECTION'] == 'SIGMA')
D.value_counts()

In [ ]:
D = (p['DV'] < 10) & (p['SECTION'] == 'ZETA')
D.value_counts()

In [ ]:
D = (p['DV'] < 10) & (p['SECTION'] == 'ZETA')
D.value_counts()

In [ ]:
p['PP'] = pd.to_numeric(p['PP'], errors='coerce')

In [ ]:
D = (p['PP'] < 10) & (p['SECTION'] == 'ALPHA')
D.value_counts()

In [ ]:
D = (p['PP'] < 10) & (p['SECTION'] == 'BETA')
D.value_counts()

In [ ]:
D = (p['PP'] < 10) & (p['SECTION'] == 'GAMA')
D.value_counts()

In [ ]:
D = (p['PP'] < 10) & (p['SECTION'] == 'DELTA')
D.value_counts()

In [ ]:
D = (p['PP'] < 10) & (p['SECTION'] == 'SIGMA')
D.value_counts()

In [ ]:
D = (p['PP'] < 10) & (p['SECTION'] == 'ZETA')
D.value_counts()

In [ ]:
D = (p['PP'] < 10) & (p['SECTION'] == 'EPSILON')
D.value_counts()

In [ ]:
data

In [ ]:
data[data["SECTION"] == "ALPHA"].mean(numeric_only=True)

In [ ]:
data[data["SECTION"] == "ALPHA"].std(numeric_only=True)

In [ ]:
data.mean(numeric_only=True)

In [ ]:
data.dropna().mean(numeric_only=True)

In [ ]:
data.dropna().std(numeric_only=True)

In [ ]:
data[data["SECTION"] == "ALPHA"].dropna().mean(numeric_only=True)

In [ ]:
data_cleaned = data.dropna()

In [ ]:
data.shape

In [ ]:
data.info

In [ ]:
from scipy.stats import ttest_ind

In [ ]:
group1 = data[data['SECTION']=='ALPHA']
group2 = data[data['SECTION']=='BETA']
ttest_ind(group1['DV'],group2['DV'])

In [ ]:
data.describe()

In [ ]:
sns.set_style("whitegrid")
def plot_histograms_boxplots(data, columns, dataset_name):
    fig, axes = plt.subplots(len(columns), 2, figsize=(12, 4 * len(columns)))
    for i, col in enumerate(columns):
        sns.histplot(data[col], kde=True, ax=axes[i, 0])
        axes[i, 0].set_title(f'Histogram of {col} in {MIDMARKS}')
        sns.boxplot(x=data[col], ax=axes[i, 1])
        axes[i, 1].set_title(f'Boxplot of {col} in {MIDMARKS}')
    plt.tight_layout()
columns_of_interest = ['DV', 'PP', 'BEEE', 'FL',]


# Plotting for Mathematics dataset
plot_histograms_boxplots(mat_data, columns_of_interest, 'Mathematics')